<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="index-stylesheet.css">
<title>Home</title>
<head>
<body>

<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<div id="name">
<p>Billy Wong</p>
<p>Stuyvesant High School</p> 
</div>
<div id="header">
</div>

<div id="main"> 

<div id="home-main">


<!--<h1>Billy Wong's Homepage</h1>

</br>
</br>-->

<!--<p><a href="Final Project/loginforum.html">Final Project</a></p>

<p><a href="Wi-Fi-project/Wi-Fi_project_web.html">Search for Wifi in NYC</a></p>

<p><a href="Portfolio Project/Portfolio_Page_Billy_Wong-home.html">GenTech Portfolio Website</a></p>-->

</div>
</div>


</body>
</html>








<!--<!DOCTYPE html>

<html>
<head>
<title>Billy's Homepage</title>

<style>

h1 {
color: #388961
}

p {
font-size: 18px
}

</style>

</head>

<body align="center" bgcolor="#7ec0ee" a link="#388961" vlink="#388961">-->
